# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo

# Virtual environment
venv/
.env

# Django
db.sqlite3
*.log
staticfiles/
media/

# Secret files
/**/secret.py
secret
config/settings_local.py

# Migrations
**/migrations/*.py
!**/migrations/__init__.py
!requests/migrations/*.py

# IDE/Editor
.vscode/
.idea/
*.iml

# Docker
*.dockerfile
.dockerignore
docker-compose.yml

.pylintrc
1README.md
.cursor

README2.md

# Documentation
docs/unused_fields_analysis.md
