# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo

# Virtual environment
venv/
.env

# Django
db.sqlite3
*.log
logs/
staticfiles/
media/
postgres_data/

# Secret files
/**/secret.py
secret
config/settings_local.py

# IDE/Editor
.vscode/
.idea/
*.iml

# Docker
*.dockerfile
.dockerignore
docker-compose.yml

.pylintrc
1README.md
.cursor

README2.md

# Documentation
docs/
project_docs/
documentation/
*.md
!README.md
