{% load static %}

<div class="card">
    <a href="{% url 'facilities:clinic_detail' facility.slug %}">
        <div class="card__image">
            {% if facility.image %}
            <img src="{{ facility.image.url }}" alt="{{ facility.name }}" />
            {% else %}
            <img src="{% static 'deps/img/notImage.svg' %}" alt="Изображение учреждения" />
            {% endif %}
        </div>
        <div class="card__content">
            <h3 class="card__title">{{ facility.name }}</h3>
            <p class="card__description">{{ facility.city.region.name }}, {{ facility.city.name }}</p>
            <div class="card__price">
                <span class="card__price-value">от {{ facility.min_price }} P / месяц</span>
            </div>
        </div>
    </a>
</div>