{% load static %}

<div class="card">
    <a href="{% url 'facilities:clinic_detail' clinic.slug %}{% if from_service %}?from_service={{ from_service }}{% endif %}">
        <div class="card__image">
            {% if clinic.main_image %}
            <img src="{{ clinic.main_image.image.url }}" alt="Фото клиники {{ clinic.name }} - {{ clinic.city.name }}" />
            {% else %}
            <img src="{% static 'deps/img/notImage.svg' %}" alt="Фото клиники {{ clinic.name }} - изображение отсутствует" />
            {% endif %}
        </div>
        <div class="card__content">
            <h3 class="card__title">{{ clinic.name }}</h3>
            <p class="card__description">{{ clinic.city.region.name }}, {{ clinic.city.name }}</p>
        </div>
    </a>
</div>