{% load static %}

<div class="card">
    <a href="{% url 'facilities:clinic_detail' clinic.slug %}">
        <div class="card__image">
            {% with main_image=clinic.images.first %}
            {% if main_image %}
            <img src="{{ main_image.image.url }}" alt="{{ clinic.name }}" />
            {% else %}
            <img src="{% static 'deps/img/notImage.svg' %}" alt="Изображение учреждения" />
            {% endif %}
            {% endwith %}
        </div>
        <div class="card__content">
            <h3 class="card__title">{{ clinic.name }}</h3>
            <p class="card__description">{{ clinic.city.region.name }}, {{ clinic.city.name }}</p>
        </div>
    </a>
</div>