{% load static %}
{% load russian_plural %}

<div class="card card--specialist">
    <a href="{% url 'facilities:private_doctor_detail' doctor.slug %}{% if from_service %}?from_service={{ from_service }}{% endif %}">
        <div class="card__image">
            {% if doctor.main_image %}
                <img src="{{ doctor.main_image.image.url }}" alt="{{ doctor.get_full_name }}" />
            {% else %}
                <img src="{% static 'deps/img/notImage.svg' %}" alt="{{ doctor.get_full_name }}" />
            {% endif %}
        </div>
        <div class="card__content">
            <h3 class="card__title title__h4">{{ doctor.get_full_name }}</h3>
            <p class="card__description">
                {% for specialization in doctor.specializations.all %}
                {{ specialization.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <div class="card__specialist--location">
                <span class="card__specialist--location-value">{{ doctor.city.region.name }}, {{ doctor.city.name }}</span>
            </div>
        </div>
    </a>
</div> 