{% load static %}

<div class="card recovery-stories__card">
    <a href="{% url 'recovery_stories:detail' story.slug %}">
        <div class="card__image">
            {% if story.image %}
            <img src="{{ story.image.url }}" alt="{{ story.title }}" />
            {% else %}
            <img src="{% static 'deps/img/default_story.jpg' %}" alt="{{ story.title }}" />
            {% endif %}
        </div>
        <div class="card__content">
            <h3 class="card__title title__h4">
                {{ story.name }},<br />
                {{ story.status }}
            </h3>
            <p class="card__description useful-info__card-description">
                {{ story.short_description|truncatewords:50 }}
            </p>
        </div>
    </a>
</div>