{% load static %}

<div class="card">
    <a href="{% url 'facilities:rehab_detail' center.slug %}">
        <div class="card__image">
            {% if center.image %}
            <img src="{{ center.image.url }}" alt="{{ center.name }}" />
            {% else %}
            <img src="{% static 'deps/img/notImage.svg' %}" alt="Изображение учреждения" />
            {% endif %}
        </div>
        <div class="card__content">
            <h3 class="card__title">{{ center.name }}</h3>
            <p class="card__description">{{ center.city.region.name }}, {{ center.city.name }}</p>
            <div class="card__price">
                <span class="card__price-value">от 100000 P / месяц</span>
            </div>
        </div>
    </a>
</div>