{% load static %}

<div class="card">
    <a href="{% url 'facilities:rehab_detail' facility.slug %}{% if from_service %}?from_service={{ from_service }}{% endif %}">
        <div class="card__image">
            {% if facility.main_image %}
            <img src="{{ facility.main_image.image.url }}" alt="Фото реабилитационного центра {{ facility.name }} - {{ facility.city.name }}" />
            {% else %}
            <img src="{% static 'deps/img/notImage.svg' %}" alt="Фото реабилитационного центра {{ facility.name }} - изображение отсутствует" />
            {% endif %}
        </div>
        <div class="card__content">
            
            <h3 class="card__title">{{ facility.name }}</h3> 
            <p class="card__description">{{ facility.city.region.name }}, {{ facility.city.name }}</p>
            {% if facility.min_price %}
            <div class="card__price">
                <span class="card__price-value">от {{ facility.min_price }} P / месяц</span>
            </div>
            {% endif %}
        </div>
    </a>
</div>