{% load static %}

<div class="card card--specialist">
    <a href="{% url 'staff:specialist_detail' specialist.slug %}">
        <div class="card__image">
            {% if specialist.photo %}
            <img src="{{ specialist.photo.url }}" alt="Фото специалиста" />
            {% else %}
            <img src="{% static 'deps/img/notImage.svg' %}" alt="Фото специалиста" />
            {% endif %}
        </div>
        <div class="card__content">
            <h3 class="card__title title__h4">{{ specialist.last_name }} {{ specialist.first_name }} {{
                specialist.middle_name }}</h3>
            <p class="card__description">{{ specialist.position }}</p>
            <div class="card__specialist--location">
                <span class="card__specialist--location-value">Опыт работы: {{ specialist.experience_years }} лет</span>
            </div>
        </div>
    </a>
</div>