{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <nav aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">clinics catalog</li>
      </ol>
    </div>
  </nav>

  <section class="catalog catalog-clinics">
    <div class="container">
      <h2 class="title__h2 catalog__title">Клиники</h2>
      <div class="section__content">
        <div class="section__content-text catalog__content-text">
          <p>Независимо от того, где вы находитесь, мы поможем вам найти клинику с квалифицированными специалистами, которая подберет именно тот курс лечения, который вам нужен.</p>
        </div>
        <div class="search-filter">
          <form action="#" class="header__search">
            <input type="text" class="header__search-input" placeholder="Поиск..." />
            <button type="submit" class="header__search-button"><img src="icons/search.svg" alt="Поиск" class="header__search-icon" /></button>
          </form>
          <form id="filter-form" class="filter-section">
            <label for="category">Сортировать по</label>
            <select id="category" name="category">
              <option value="all">региону</option>
              <option value="electronics">профилю</option>
              <option value="clothing">программам</option>
            </select>
          </form>
        </div>
        <div class="rehabs__cards">
          <div class="card">
            <a href="{% url 'facilities:clinic_detail' %}">
              <div class="card__image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTohueysEWLLd8S5sGGirkURD6m42TbMNThvA&s" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Здоровье+++»</h3>
                <p class="card__description">Москва, ул. Ленина, 10</p>
                <div class="card__price">
                  <span class="card__price-value">от 30 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj7ysaYkDniOFXK1ltT_QuT9HqYTtNTn9yhA&s" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Здоровье+»</h3>
                <p class="card__description">Москва, ул. Ленина, 10</p>
                <div class="card__price">
                  <span class="card__price-value">от 30 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/c6/8d/9a/best-guests.jpg?w=600&h=-1&s=1" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Новый путь»</h3>
                <p class="card__description">Санкт-Петербург, пр. Невский, 50</p>
                <div class="card__price">
                  <span class="card__price-value">от 40 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP8zmn2ZjITcwoRfINSi1py4Hxcu7O-V-NQA&s" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Новый путь»</h3>
                <p class="card__description">Санкт-Петербург, пр. Невский, 50</p>
                <div class="card__price">
                  <span class="card__price-value">от 40 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTohueysEWLLd8S5sGGirkURD6m42TbMNThvA&s" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Здоровье+»</h3>
                <p class="card__description">Москва, ул. Ленина, 10</p>
                <div class="card__price">
                  <span class="card__price-value">от 30 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj7ysaYkDniOFXK1ltT_QuT9HqYTtNTn9yhA&s" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Здоровье+»</h3>
                <p class="card__description">Москва, ул. Ленина, 10</p>
                <div class="card__price">
                  <span class="card__price-value">от 30 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/c6/8d/9a/best-guests.jpg?w=600&h=-1&s=1" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Новый путь»</h3>
                <p class="card__description">Санкт-Петербург, пр. Невский, 50</p>
                <div class="card__price">
                  <span class="card__price-value">от 40 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP8zmn2ZjITcwoRfINSi1py4Hxcu7O-V-NQA&s" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Новый путь»</h3>
                <p class="card__description">Санкт-Петербург, пр. Невский, 50</p>
                <div class="card__price">
                  <span class="card__price-value">от 40 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTohueysEWLLd8S5sGGirkURD6m42TbMNThvA&s" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Здоровье+»</h3>
                <p class="card__description">Москва, ул. Ленина, 10</p>
                <div class="card__price">
                  <span class="card__price-value">от 30 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj7ysaYkDniOFXK1ltT_QuT9HqYTtNTn9yhA&s" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Здоровье+»</h3>
                <p class="card__description">Москва, ул. Ленина, 10</p>
                <div class="card__price">
                  <span class="card__price-value">от 30 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/c6/8d/9a/best-guests.jpg?w=600&h=-1&s=1" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Новый путь»</h3>
                <p class="card__description">Санкт-Петербург, пр. Невский, 50</p>
                <div class="card__price">
                  <span class="card__price-value">от 40 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <div class="card__image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP8zmn2ZjITcwoRfINSi1py4Hxcu7O-V-NQA&s" alt="Изображение клиники" />
              </div>
              <div class="card__content">
                <h3 class="card__title title__h4">Клиника «Новый путь»</h3>
                <p class="card__description">Санкт-Петербург, пр. Невский, 50</p>
                <div class="card__price">
                  <span class="card__price-value">от 40 000 P / месяц</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <a href="#" class="rehab-btn rehabs__button">Посмотреть все</a>
    </div>
  </section>
{% endblock %}
