{% extends "base.html" %}
{% load static %}

{% block title %}{{ clinic.name }} - Клиника{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Главная</a></li>
            {% if from_service_obj %}
                <li class="breadcrumb-item">
                    <a href="{% url 'medical_services:service_detail' from_service_obj.slug %}">{{ from_service_obj.name }}</a>
                </li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{% url 'facilities:clinic_list' %}">Клиники</a>
                </li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ clinic.name }}</li>
        </ol>
    </div>
</nav>

<section class="detail clinic-detail rehab-help">
    <div class="container">
        <div class="detail__content rehab-help__content">
            <div class="clinic-detail__content detail__content-item--img rehab-help__content-item rehab-help__image">
                <div id="clinicCarousel" class="carousel slide" data-bs-ride="carousel">
                    {% with images=clinic.images.all %}
                    {% if images %}
                        <div class="carousel-indicators">
                            {% for image in images %}
                            <button type="button" data-bs-target="#clinicCarousel" data-bs-slide-to="{{ forloop.counter0 }}" 
                                {% if forloop.first %}class="active" aria-current="true"{% endif %} 
                                aria-label="Slide {{ forloop.counter }}">
                            </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100 clinic-detail__img" alt="{{ clinic.name }}" />
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <img src="{% static 'deps/img/notImage.svg' %}" class="d-block w-100 clinic-detail__img" alt="{{ clinic.name }}" />
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="detail__content-wrapper rehab-help__content-item">
                <h2 class="title__h2 detail__title">
                    {{ clinic.name }}
                </h2>
                <div class="detail__text clinic-detail__text">
                    <div itemscope itemtype="https://schema.org/PostalAddress">
                        <span itemprop="addressRegion">{{ clinic.city.region.name }}</span>,
                        <span itemprop="addressCountry">Россия</span>
                    </div>
                    <p>{{ clinic.description|linebreaks }}</p>
                </div>
                <div class="detail__text clinic-detail__text rehab-help__text">
                    <h3 class="title__h3 detail__title">Оказывает услуги</h3>
                    <ul class="detail__services-list clinic-detail__services-list">
                        {% for facility_service in services %}
                        <li>
                          <a href="{% url 'medical_services:service_detail' facility_service.service.slug %}">
                            {{ facility_service.service.name }}
                          </a>
                        </li>
                        {% empty %}
                        <li>Услуги не указаны</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% if clinic.admission_conditions %}
<section class="detail__info clinic-detail__info">
    <div class="container">
        <div class="detail-content__wrapper">
            <h3 class="title__h3 detail__title">Условия поступления</h3>
            <div class="clinic-detail__text">
                {{ clinic.admission_conditions|safe }}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if clinic.treatment_course %}
<section class="detail__info clinic-detail__info">
    <div class="container">
        <div class="detail-content__wrapper detail-content__wrapper-second">
            <h3 class="title__h3 detail__title">Курс лечения</h3>
            <div class="clinic-detail__text">
                {{ clinic.treatment_course|safe }}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if clinic.specialists.all %}
<section class="detail__specialists clinic-detail-specialists specialists">
    <div class="container">
        <h3 class="title__h3 detail__title">Специалисты учреждения</h3>
        <div class="section__content">
            <div class="specialists__cards">
                {% for specialist in clinic.specialists.all %}
                {% include "includes/cards/specialist_card.html" with specialist=specialist %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if clinic.documents.all %}
<section class="detail-docs clinic-detail__docs">
    <div class="container">
        <h3 class="title__h3 detail__title">Лицензии и документы</h3>
        <div class="detail-doc__images">
            <div class="detail-docs__slider">
                {% for doc in clinic.documents.all %}
                <div class="detail-docs__image spec-detail__docs--image">
                    {% if doc.document %}
                    <a href="{{ doc.document.url }}" data-lightbox="clinic-docs" data-title="{{ doc.title|default:doc.document.name }}">
                        <img src="{{ doc.document.url }}" alt="{{ doc.title }}" />
                    </a>
                    {% else %}
                    <img src="{% static 'deps/img/notImage.svg' %}" alt="{{ doc.title }}" />
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if clinic.reviews.all %}
<section class="detail__reviews">
    <div class="container">
        <h3 class="title__h3 detail__title">Отзывы пациентов о учреждении</h3>
        <div class="detail__reviews-slider">
            {% for review in clinic.reviews.all %}
            <div class="detail__review">
                <h4 class="title__h4 detail__review-title">
                    {{ review.author_name }}, {{ review.author_age }} лет
                </h4>
                <p>{{ review.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if related_facilities %}
<section class="detail-rehabs rehabs">
    <div class="container">
        <h3 class="title__h3 detail-rehabs__title">Другие клиники в вашем регионе</h3>
        <div class="section__content">
            <div class="clinics__cards">
                {% for related_facility in related_facilities %}
                {% include "includes/cards/clinic_card.html" with clinic=related_facility %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% include "facilities/includes/consultation.html" %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}