{% extends "base.html" %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Клиники</li>
        </ol>
    </div>
</nav>

<section class="catalog catalog-clinics">
    <div class="container">
        <h2 class="title__h2 catalog__title">
            Клиники
        </h2>
        <div class="section__content">
            <div class="section__content-text catalog__content-text">
                <p>
                    Независимо от того, где вы находитесь, мы поможем
                    вам найти клинику с квалифицированными
                    специалистами, которая подберет именно тот курс
                    лечения, который вам нужен.
                </p>
            </div>
            {% include "facilities/includes/search_filter.html" %}
            <div class="rehabs__cards">
                {% for clinic in clinics %}
                    {% include "includes/cards/clinic_card.html" %}
                {% empty %}
                <div class="col-12 text-center">
                    <p>Клиники не найдены</p>
                </div>
                {% endfor %}
            </div>
            {% if has_more %}
            <div class="text-center mt-8">
                <button id="loadMoreClinics" class="rehab-btn rehabs__button">Показать еще</button>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% include "facilities/includes/consultation.html" %}
{% endblock %}