{% extends "base.html" %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'facilities:rehabilitation_list' %}">rehab catalog</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ facility.name }}
            </li>
        </ol>
    </div>
</nav>

<section class="detail rehab-detail rehab-help">
    <div class="container">
        <div class="detail__content rehab-help__content">
            <div class="rehab-detail__content rehab-help__content-item rehab-help__image detail__content-item--img">
                {% if facility.image %}
                <img src="{{ facility.image.url }}" alt="{{ facility.name }}" />
                {% else %}
                <img src="{% static 'img/notImage.svg' %}" alt="{{ facility.name }}" />
                {% endif %}
            </div>
            <div class="detail__content-wrapper rehab-help__content-item">
                <h2 class="title__h2 detail__title">
                    {{ facility.name }}
                </h2>
                <div class="detail__text rehab-detail__text">
                    <div itemscope itemtype="https://schema.org/PostalAddress">
                        <span itemprop="addressRegion">{{ facility.region }}</span>,
                        <span itemprop="addressCountry">Россия</span>
                    </div>
                    <p>{{ facility.description }}</p>
                </div>
                <div class="detail__text rehab-detail__text rehab-help__text">
                    <h3 class="title__h3 detail__title">Оказывает услуги</h3>
                    <ul class="detail__services-list rehab-detail__services-list">
                        {% for service in facility.services.all %}
                        <li>{{ service.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="detail__info rehab-detail__info">
    <div class="container">
        <div class="detail-content__wrapper">
            <h3 class="title__h3 detail__title">Условия поступления</h3>
            <div class="rehab-detail__text detail__text--width-limiter">
                <p>{{ facility.accommodation_conditions }}</p>
            </div>
        </div>
        <div class="detail-content__wrapper detail-content__wrapper-second">
            <h3 class="title__h3 detail__title">Курс реабилитации</h3>
            <div class="rehab-detail__text detail__text--width-limiter">
                <p>{{ facility.program_duration }}</p>
            </div>
        </div>
    </div>
</section>

<section class="detail__specialists rehab-detail-specialists specialists">
    <div class="container">
        <h3 class="title__h3 detail__title">Специалисты центра</h3>
        <div class="section__content">
            <div class="specialists__cards">
                {% for specialist in facility.specialists.all %}
                <div class="card card--specialist">
                    <a href="{% url 'specialist_detail' specialist.slug %}">
                        <div class="card__image">
                            {% if specialist.image %}
                            <img src="{{ specialist.image.url }}" alt="Фото специалиста" />
                            {% else %}
                            <img src="{% static 'img/notImage.svg' %}" alt="Фото специалиста" />
                            {% endif %}
                        </div>
                        <div class="card__content">
                            <h3 class="card__title title__h4">{{ specialist.name }}</h3>
                            <p class="card__description">{{ specialist.specialization }}</p>
                            <div class="card__specialist--location">
                                <span class="card__specialist--location-value">Опыт работы: {{ specialist.experience }}
                                    лет</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="detail-docs rehab-detail__docs">
    <div class="container">
        <h3 class="title__h3 detail__title">Лицензии и документы</h3>
        <div class="detail-doc__images">
            <div class="detail-docs__slider">
                {% for doc in facility.documents.all %}
                <div class="detail-docs__image spec-detail__docs--image">
                    {% if doc.file %}
                    <img src="{{ doc.file.url }}" alt="{{ doc.title }}" />
                    {% else %}
                    <img src="{% static 'img/notImage.svg' %}" alt="{{ doc.title }}" />
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="detail__reviews">
    <div class="container">
        <h3 class="title__h3 detail__title">Отзывы пациентов о центре</h3>
        <div class="detail__reviews-slider">
            {% for review in facility.reviews.all %}
            <div class="detail__review">
                <h4 class="title__h4 detail__review-title">{{ review.author_name }}, {{ review.author_age }} лет</h4>
                <p>{{ review.text }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="detail-rehabs rehabs">
    <div class="container">
        <h3 class="title__h3 detail-rehabs__title">Другие центры в вашем регионе</h3>
        <div class="section__content">
            <div class="rehabs__cards">
                {% for related_facility in related_facilities %}
                <div class="card">
                    <a href="{% url 'facilities:facility_detail' related_facility.slug %}">
                        <div class="card__image">
                            {% if related_facility.image %}
                            <img src="{{ related_facility.image.url }}" alt="{{ related_facility.name }}" />
                            {% else %}
                            <img src="{% static 'img/notImage.svg' %}" alt="{{ related_facility.name }}" />
                            {% endif %}
                        </div>
                        <div class="card__content">
                            <h4 class="card__title title__h4">{{ related_facility.name }}</h4>
                            <p class="card__description">{{ related_facility.address }}</p>
                            <div class="card__price">
                                <span class="card__price-value">от {{ related_facility.price }} P / месяц</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% include "facilities/includes/consultation.html" %}
{% endblock %}