{% extends "base.html" %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Частные врачи</li>
        </ol>
    </div>
</nav>

<section class="catalog catalog-doctors">
    <div class="container">
        <h2 class="title__h2 catalog__title">
            Частные врачи
        </h2>
        <div class="section__content">
            <div class="section__content-text catalog__content-text">
                <p>
                    Найдите опытных частнопрактикующих врачей в вашем городе. 
                    Они предоставляют качественную медицинскую помощь в удобное для вас время.
                </p>
            </div>
            {% include "facilities/includes/search_filter.html" %}
            <div class="rehabs__cards">
                {% for doctor in doctors %}
                    {% include "includes/cards/private_doctor_card.html" %}
                {% empty %}
                <div class="col-12 text-center">
                    <p>Врачи не найдены</p>
                </div>
                {% endfor %}
            </div>
            {% if has_more %}
            <div class="text-center mt-8">
                <button id="loadMoreDoctors" class="rehab-btn rehabs__button">Показать еще</button>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% include "facilities/includes/consultation.html" %}
{% endblock %} 