{% extends 'base.html' %}
{% load static %}

{% block title %}{{ specialist.last_name }} {{ specialist.first_name }} - {{ specialist.position }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Главная</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'staff:specialist_detail' specialist.slug %}">Специалисты</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ specialist.last_name }} {{ specialist.first_name }}
            </li>
        </ol>
    </div>
</nav>

<section class="detail spec-detail rehab-help">
    <div class="container">
        <div class="detail__content rehab-help__content">
            <div class="detail__content-item detail__content-item--img rehab-help__content-item rehab-help__image">
                {% if specialist.photo %}
                    <img src="{{ specialist.photo.url }}" alt="{{ specialist.last_name }} {{ specialist.first_name }}" />
                {% else %}
                    <img src="{% static 'deps/img/notImage.svg' %}" alt="{{ specialist.last_name }} {{ specialist.first_name }}" />
                {% endif %}
            </div>
            <div class="detail__content-wrapper detail__content-item rehab-help__content-item">
                <h2 class="title__h2 detail__title">{{ specialist.last_name }} {{ specialist.first_name }}</h2>
                <div class="detail__text spec-detail__text">
                    <p class="specialist-detail__position">{{ specialist.position }}</p>
                    {% comment %} <p class="specialist-detail__experience">Опыт работы: {{ specialist.experience_years }} лет</p> {% endcomment %}
                    {% comment %} <p class="specialist-detail__schedule">График работы: {{ specialist.schedule }}</p> {% endcomment %}
                    
                    {% comment %} <div class="specialist-detail__specializations">
                        <h3>Специализации:</h3>
                        <ul>
                            {% for specialization in specialist.specializations.all %}
                            <li>{{ specialization.name }}</li>
                            {% endfor %}
                        </ul>
                    </div> {% endcomment %}
                </div>

                {% if specialist.facility and specialist.facility.slug %}
                <div class="card">
                    <a href="{% url 'facilities:clinic_detail' specialist.facility.slug %}">
                        <div class="card__image">
                            {% if specialist.facility.photo %}
                                <img src="{{ specialist.facility.photo.url }}" alt="{{ specialist.facility.name }}" />
                            {% endif %}
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">{{ specialist.facility.name }}</h3>
                            <p class="card__text">{{ specialist.facility.description }}</p>
                        </div>
                    </a>
                </div>
                {% endif %}

                <div class="specialist-detail__content">
                    <div class="specialist-detail__section">
                        <h3>Образование</h3>
                        <p>{{ specialist.education|default:'' }}</p>
                    </div>

                    <div class="specialist-detail__section">
                        <h3>Биография</h3>
                        <p>{{ specialist.biography|default:'Тестовая биография' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}