{% extends 'base.html' %}
{% load static %}

{% block title %}{{ category.name }} - Услуги{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'medical_services:service_list' %}">Услуги</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
        </ol>
    </div>
</nav>

<section class="catalog catalog-category-detail">
    <div class="container">
        <h2 class="title__h2 catalog__title">{{ category.name }}</h2>
        {% if category.description %}
        <div class="section__content-text catalog__content-text">
            <p>{{ category.description|linebreaks }}</p>
        </div>
        {% endif %}
        <div class="section__content">
            <h3 class="title__h3">Услуги в категории</h3>
            <div class="rehabs__cards">
                {% for service in services %}
                    {% include "includes/cards/service_card.html" with service=service %}
                {% empty %}
                <div class="col-12 text-center">
                    <p>В данной категории пока нет услуг.</p>
                </div>
                {% endfor %}
            </div>

            {% if category.children.all %}
            <h3 class="title__h3 mt-5">Подкатегории</h3>
            <div class="rehabs__cards">
                {% for child in category.children.all %}
                <div class="card">
                    <a href="{% url 'medical_services:category_detail' child.slug %}">
                        <div class="card__content">
                            <h3 class="card__title">{{ child.name }}</h3>
                            {% if child.description %}
                                <p class="card__description">{{ child.description|truncatewords:15|linebreaks }}</p>
                            {% endif %}
                            <div class="card__price">{{ child.services.count }} услуг</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% include "facilities/includes/consultation.html" %}
{% endblock %} 