{% extends "base.html" %}
{% load static %}

{% block title %}Услуги{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Услуги</li>
        </ol>
    </div>
</nav>

<section class="catalog catalog-services">
    <div class="container">
        <h2 class="title__h2 catalog__title">
            Медицинские услуги
        </h2>
        <div class="section__content">
            <div class="section__content-text catalog__content-text">
                <p>
                    Найдите нужную услугу и учреждения, которые её предоставляют.
                    Мы поможем вам подобрать квалифицированных специалистов
                    и подходящий курс лечения.
                </p>
            </div>
            <div class="search-filter">
                <form action="{% url 'medical_services:service_list' %}" method="get" class="header__search">
                    <input type="text" name="search" class="header__search-input" placeholder="Поиск услуг..."
                        value="{{ request.GET.search }}" />
                    <button type="submit" class="header__search-button">
                        <img src="{% static 'deps/icons/main/search.svg' %}" alt="Поиск" class="header__search-icon" />
                    </button>
                </form>
                <form id="filter-form" class="filter-section" method="get" action="{% url 'medical_services:service_list' %}">
                    <label for="category">Сортировать по</label>
                    <div class="custom-select">
                        <div class="custom-select__selected">
                            {% if request.GET.category %}
                                {% for category in categories %}
                                    {% if request.GET.category == category.slug %}
                                        {{ category.name }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                всем категориям
                            {% endif %}
                        </div>
                        <div class="custom-select__options">
                            <div class="custom-select__option" data-value="all">всем категориям</div>
                            {% for category in categories %}
                            <div class="custom-select__option" data-value="{{ category.slug }}">{{ category.name }}</div>
                            {% endfor %}
                        </div>
                        <select id="category" name="category" style="display: none;">
                            <option value="all" {% if not request.GET.category %}selected{% endif %}>всем категориям</option>
                            {% for category in categories %}
                            <option value="{{ category.slug }}" 
                            {% if request.GET.category == category.slug %} selected
                            {%endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="rehabs__cards">
                {% for service in services %}
                    {% include "includes/cards/service_card.html" with service=service %}
                {% empty %}
                <div class="col-12 text-center">
                    <p>Услуги не найдены</p>
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}"
                    class="pagination__link">&laquo;</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <span class="pagination__link pagination__link--active">{{ num }}</span>
                {% else %}
                <a href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}"
                    class="pagination__link">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}"
                    class="pagination__link">&raquo;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% include "facilities/includes/consultation.html" %}
{% endblock %} 