{% load static %}

<div class="search-filter">
    <form action="{{ request.path }}" method="get" class="header__search">
        <input type="text" name="search" class="header__search-input" placeholder="Поиск..."
            value="{{ request.GET.search }}" />
        <button type="submit" class="header__search-button">
            <img src="{% static 'deps/icons/main/search.svg' %}" alt="Поиск" class="header__search-icon" />
        </button>
    </form>
    <form id="filter-form" class="filter-section" method="get" action="{{ request.path }}">
        <label for="category">Сортировать по</label>
        <div class="custom-select">
            <div class="custom-select__selected">
                {% if request.GET.sort == 'region' %}
                региону
                {% elif request.GET.sort == 'profile' %}
                профилю
                {% elif request.GET.sort == 'programs' %}
                программам
                {% else %}
                региону
                {% endif %}
            </div>
            <div class="custom-select__options">
                <div class="custom-select__option" data-value="region">региону</div>
                <div class="custom-select__option" data-value="profile">профилю</div>
                <div class="custom-select__option" data-value="programs">программам</div>
            </div>
            <select id="category" name="sort" style="display: none;">
                <option value="region" {% if request.GET.sort == 'region' %}selected{% endif %}>региону</option>
                <option value="profile" {% if request.GET.sort == 'profile' %}selected{% endif %}>профилю</option>
                <option value="programs" {% if request.GET.sort == 'programs' %}selected{% endif %}>программам</option>
            </select>
        </div>
    </form>
</div>